.introDiv{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 1.5rem;
    padding: 0.5rem;
}

@media only screen and (max-width: 992px) {
    .introDiv{
        grid-template-columns: 35% 65%;
        grid-gap: 1rem;
        width:100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .myName{
        font-size:3rem !important;
    }
    .hello{
        font-size:2rem !important;
    }
    .rightPic img{
        width: 150% !important;
        text-align: left !important;
        margin-right:100% !important;
    }
    .leftText{
        text-align: right !important;
        margin: 0;
        margin-left: auto !important;
        justify-self: right !important;
    }
    .profession{
        font-size: 1.5rem !important;
    }
}

.leftText{
    justify-self: center;
    align-items: center;
    margin: auto;
}

.rightPic{
    margin: auto;
}

.rightPic img{
    width: 80%;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

.hello{
    color: #ffc996;
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
}

.myName{
    color: whitesmoke;
    font-family: 'Titillium Web', sans-serif;
    font-size: 6rem;
}

.profession{
    color: whitesmoke;
    font-size: 2rem;
}

.devPortion{
    color: #30e3ca;
}


.messg{
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: 'Dosis', sans-serif;
}

.fullTime{
    color: orangered;
}