.introDiv{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 1.5rem;
    padding: 0.5rem;
}

.leftText{
    justify-self: center;
    align-items: center;
    margin: auto;
}

.rightPic{
    margin: auto;
}

.rightPic img{
    width: 80%;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

.hello{
    color: #ffc996;
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
}

.myName{
    color: whitesmoke;
    font-family: 'Titillium Web', sans-serif;
    font-size: 6rem;
}

.profession{
    color: whitesmoke;
    font-size: 2rem;
}

.devPortion{
    color: #30e3ca;
}


.messg{
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: 'Dosis', sans-serif;
}

.fullTime{
    color: orangered;
}