.btnFlex{
    color: aliceblue;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}

.btnFlex a{
    text-decoration:none;
}

.btnFlex a:hover{
    text-decoration:none;
}

.card{
    border: 5px solid black;
    border-radius: 15px;
}

img{
    border-radius: 10px;
}